<div class="Container-fluid" style="padding: 10px;">
  <h1>Bootcamp Enrollment Form</h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    {{ userForm.value | json}}
    <hr />
    {{userModel | json}}<br><br>
    {{userForm.form.valid}}


    <div class="form-group">
      <label>Name</label>
      <input type="text" required #name="ngModel"
      [class.is-invalid]="name.invalid && name.touched" class="form-control"
       name="Username" [(ngModel)]="userModel.name">
       <small class="text-danger" [class.d-none]="name.valid || name.untouched ">Name is required</small>
    </div><br>

    {{name.valid}}<br><br>


    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="Email" [(ngModel)]="userModel.email">
    </div><br>

    <div class="form-group">
      <label>Phone</label>
      <input type="tel" #phone="ngModel" pattern="^\d{10}$" required
      [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="Phone" [(ngModel)]="userModel.phone">
      <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required and must be 10 digit</small>
    </div><br>

    <div class="form-group">
      <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)"
       #topic="ngModel" [class.is.invalid]="topicHasError && topic.touched" class="custom-selct" name="Topic" [(ngModel)]="userModel.topic">
      <option value="default">I am intersted in </option>
      <option *ngFor="let topic  of topics">{{ topic }}</option>
    </select>
    <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched" > Please choose a topic </small>
    </div><br>

    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
      <input class="form-check-input" [(ngModel)]="userModel.timepreference" type="radio" name="timepreference" value="morning">
      <label class="form-check-lebal">Morning (9AM - 12PM)</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="userModel.timepreference" type="radio" name="timepreference" value="evening">
      <label class="form-check-lebal">Evening (5PM - 8PM)</label>
    </div>
  </div>

  <div class="form-check mb-3">
    <input class="form-check-input" name="Subscribe" [(ngModel)]="userModel.subscribe" type="checkbox">
    <label class="form-check-label">Send me promotional offers</label>
  </div>

    <button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary" type="submit">Submit Form</button>
  </form>
</div>
